# Ignore Python and Node junk from language stats
venv/** linguist-vendored
node_modules/** linguist-vendored
dist/** linguist-vendored
build/** linguist-vendored
*.min.js linguist-generated
*.py linguist-vendored